@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .auto-responsive {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
  }

  .auto-responsive-lg {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }
}
